# Core app framework
dash==3.2.0

# Data and geospatial handling
pandas==2.3.2
geopandas==1.1.1

# Plotting
plotly==6.3.0

# Environment variables
python-dotenv==1.1.1

# Production web server
gunicorn==22.0.0
